<template>
  <section id="content">
    <h1>Pagina No Encontrada</h1>
    <h3>La pagina que buscas no existe, intentalo mas tarde.</h3>
  </section>
</template>

<script>
export default {
  name: "ErrorComponent"
};
</script>