<template>
  <div class="general">
    <Slider texto="Pagina de pruebas"></Slider>
    <div class="center">
      <section id="content">
        <h2 class="subheader">Pagina de pruebas</h2>
        <h3>{{id_desde_url}}</h3>
        <button @click="actulizarNombre()">Actualizar Nombre</button>
        <button @click="redirigirAlBlog()">Blog</button>
        <h4>{{nombre}}</h4>
      </section>
      <Sidebar></Sidebar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>
<script>
import Slider from "./Slider.vue";
import Sidebar from "./Sidebar.vue";

export default {
  name: "Pagina",components:{
    Slider,
    Sidebar,
  },
  created() {
    console.log("Componente creado");
  },
  mounted() {
    this.id_desde_url = this.$route.params.id;
    console.log("Componente montado");
  },
  updated() {
    console.log("Componente actulaizado");
  },
  destroyed() {
    console.log("Componente Eliminado");
  },
  data() {
    return {
      id_desde_url: null,
      nombre: "Victor robles"
    };
  },
  methods: {
    actulizarNombre() {
      this.nombre = "VICTOR ROBLES WEB";
      console.log(this.nombre);
    },
    redirigirAlBlog() {
      this.$router.push("/blog");
    }
  }
};
</script>