<template>
  <div class="general">
    <div class="center">
      <section id="content">
        <h2 class="subheader">Peliculas</h2>
        <div class="mis-datos" v-if="misDatos">
          <p v-html="misDatos"></p>
          <br>
          {{this.web | mayusculas | concatenaYaer('Este es el mejor año')}}
        </div>
        <div class="favorita" v-if="favorita">
          La pelicula marca es:
          <h3>{{favorita.title}}</h3>

        </div>
        <!--Listado articulos-->
        <div id="articles">
          <!---->
          <div v-for="pelicula in peliculasMayusculas" v-bind:key="pelicula.title">
            <Pelicula 
              :pelicula="pelicula"
              @favorita ="haLlegadoLaPeliculaFavorita"
              
              ></Pelicula>
          </div>

          <!--AÑADIR ARTICULOS VIA JS-->
        </div>
      </section>
      <Sidebar></Sidebar>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import Pelicula from "./Pelicula.vue";
import Sidebar from "./Sidebar.vue";

export default {
  name: "Peliculas",
  components: {
    Pelicula,
    Sidebar,
  },
  methods:{
    haLlegadoLaPeliculaFavorita(favorita){
      this.favorita = favorita;
    }
  },
  filters:{
    mayusculas(value){
      return value.toUpperCase();
    },
    concatenaYaer(value, message){
      var date = new Date();
      return value + ' '+ date.getFullYear() + ' '+message;
    }
  },
  computed:{
    peliculasMayusculas(){
      var peliculasMod = this.peliculas;
      for(var i = 0; i < this.peliculas.length; i++){
        peliculasMod[i].title = peliculasMod[i].title.toUpperCase();
      }
      return peliculasMod;
    },
    misDatos(){
      return this.nombre + ' '+this.apellidos + '<br>'+'sitio web:'+this.web;
    }
  },
  data() {
    return {
      nombre:'Hector',
      apellidos: 'Lopez',
      web: 'www.facebook.com/hector.c.lopez.92',
      favorita:null,
      peliculas: [
        {
          title: "Batman vs superman",
          year: 2017,
          image:
            "https://ichef.bbci.co.uk/news/ws/410/amz/worldservice/live/assets/images/2016/03/23/160323133140_batman_vs_superman_304x171_dcmovies_nocredit.jpg"
        },
        {
          title: "Gran torino",
          year: 2015,
          image:
            "https://www.artmajeur.com/medias/standard/f/a/fasquelolivier/artwork/11789156_gran-torino.jpg"
        },
        {
          title: "señor de los anillos",
          year: 2003,
          image:
            "https://vignette.wikia.nocookie.net/eldragonverde/images/b/b2/Cinemania_lordoftherings.jpg/revision/latest/scale-to-width-down/340?cb=20130103162924&path-prefix=es"
        }
      ]
    };
  }
};
</script>